.bini{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    padding: 2rem 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}
.content {
    min-height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content img {
    width: 50%;
}
.details{
    display: flex;
    margin-top: 1rem;
     /* align-items: center; */
    justify-content: space-around; 
}